* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pai {
    width: 50rem;
    height: 100vh;
    background: darkcyan;
    overflow: hidden;
}
.pai > div {
    width: 50%;
    height: 50rem;
    background: blueviolet;
     overflow: hidden;
}

p {
    font-size: 1.6rem;
}

.color-one{
    background: darkgoldenrod;
}

.color-two {
    background: darkgreen;
}