* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex; /* display: flex - se comporta como bloco*/
    justify-content: space-between;
    flex-flow: row wrap;
    background: darkcyan;
}

.flex-item {
    width: 32%;
    height: 200px;
    color: white;
    background: darkgoldenrod;
    margin: 10px
}


